@import url('../../../styles/colors.css');
@import url('../../../styles/fonts.css');

.container {
  margin-bottom: 20px;
  border-radius: 5px;
  background: var(--orange);
  padding: 15px 15px 20px;
  width: 280px;
  animation: notificationAnimation 0.3s ease-in;
  display: flex;
  align-items: flex-start;
  position: relative;
  box-shadow: rgba(4, 93, 86, 0.25) 0 2px 4px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  .title {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 8px;
    color: var(--white);
  }

  .description {
    font-size: 12px;
    color: var(--white);
  }
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.animateClosed {
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

@keyframes notificationAnimation {
  from {
    transform: translate(120%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}
