:root {
  --screen-min: 320px;
  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 990px;
  --screen-lg: 1200px;
  --screen-xl: 1400px;
  --wrapper: 1280px;
  --grid-gutter-width: 30px;
}

/* @custom-media --extra-small-screen (width >= 0) and (width <= 480px);
@custom-media --small-screen (width >= 0) and (width <= 768px);
@custom-media --small-medium-screen (width >= 0) and (width <= 990px);
@custom-media --medium-screen (width >= 768px) and (width <= 990px); */
